themes/autogaz/template/src/components/footer/footer.pug
.footer.overflow
  .container
    .footer__flex
      .footer__logo.wow.fadeInLeft
        - var imgSrc = imgDir + 'footer__logo.png';
        a.footer__link(href='./')
          img.footer__logoImg(src=imgSrc alt='logo')

      .footer__panel.wow.fadeInRight(data-wow-delay='0.6s')
        .footer__nav
          a.footer__link(href='autogaz.html') Autogas
          a.footer__link(href='mechanic.html') Mechanika
          a.footer__link(href='electro.html') Elektromechanika
          a.footer__link(href='gallery.html') Galeria
          a.footer__link(href='about.html') O firmie
          a.footer__link(href='certifi.html') Certifikary
          a.footer__link(href='contact.html') Kontakt

        .footer__rights
          .footer__item.-left Copyright 2016 by Auto Gas Lidzbark Warmiński
          .footer__item.-span -
          a.footer__link.-right(href='http://collor.pl' target='_blank') Realizacja: collor.pl

themes/autogaz/inc/footer.html
    <div class="footer overflow">
        <div class="container">
            <div class="footer__flex">
                <div class="footer__logo wow fadeInLeft">
                    <a class="footer__link" href="{$bat.path}">
                        <img class="footer__logoImg" src="{$bat.theme}/dist/img/footer__logo.png" alt="logo">
                    </a>
                </div>
                <div class="footer__panel wow fadeInRight" data-wow-delay="0.6s">
                    <div class="footer__nav">
                        {$navigation.bottom}
                    </div>

                    <div class="footer__rights">
                        <div class="footer__item -left">{$settings.footer}</div>
                        <div class="footer__item -span">-</div>
                        <div class="footer__item -right">{$bat.powered}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{$bat.theme}/dist/js/lib.js"></script>
    <script src="{$bat.theme}/dist/js/prod.js"></script>

    {loop: $bat.footer}{$value}{/loop}
</body>

</html>
