themes/autogaz/modules/contact/form.html
<form class="form__content" name="email" method="POST" action="{$_SERVER['REQUEST_URI']}">
    <input class="form__input" type="text" name="name" placeholder="{$lang.contact.full_name}" required>
    <input class="form__input" type="email" name="from" placeholder="{$lang.contact.email}" required>
    <input class="form__input" type="text" name="subject" placeholder="{$lang.contact.subject}" required>
    <textarea class="form__textarea" name="message" placeholder="{$lang.contact.message}" required></textarea>

    <!-- antispam field -->
    <div class="form-group" id="antispam">
        <input type="text" name="title" required/>
    </div>
    <script>
      (function () {
        var e = document.getElementById("antispam");
        e.parentNode.removeChild(e);
      })();
    </script>
    <!-- /antispam field -->

    <input class="form__button" type="submit" value="{$lang.contact.send}"></form>
</form>

themes/autogaz/template/src/components/form/form.pug
.form

  include ../notify/notify-danger

  form.form__content(name='form' action='mail.php' method='POST')
    input.form__input(type='text' name='name' placeholder='Imie i nazwisko *' required='')
    input.form__input(type='email' name='email' placeholder='E-Mail *' pattern=".{1,60}" required='')
    input.form__input(type='number' name='phone' placeholder='Telefon')
    textarea.form__textarea(name='msg' placeholder="Twoja wiadomość")

    input.form__button(type='submit' value='Wyślij')
