themes/autogaz/inc/brands.html
<div class="brands overflow">
    <div class="container">
        <div class="brands__flex">
            <div class="brands__arrows wow fadeInUp" data-wow-delay="0.6s"></div>
            <div class="brands__slider wow fadeInUp">
                <div class="brands__item">
                    <img class="brands__img" src="{$bat.theme}/dist/img/brands__img-1.jpg" alt="brand">
                </div>
                <div class="brands__item">
                    <img class="brands__img" src="{$bat.theme}/dist/img/brands__img-2.jpg" alt="brand">
                </div>
                <div class="brands__item">
                    <img class="brands__img" src="{$bat.theme}/dist/img/brands__img-3.jpg" alt="brand">
                </div>
                <div class="brands__item">
                    <img class="brands__img" src="{$bat.theme}/dist/img/brands__img-4.jpg" alt="brand">
                </div>
                <div class="brands__item">
                    <img class="brands__img" src="{$bat.theme}/dist/img/brands__img-5.jpg" alt="brand">
                </div>
                <div class="brands__item">
                    <img class="brands__img" src="{$bat.theme}/dist/img/brands__img-6.jpg" alt="brand">
                </div>
            </div>
        </div>
    </div>
</div>

themes/autogaz/template/src/components/brands/brands.pug
.brands.overflow
  .container
    .brands__flex
      .brands__arrows.wow.fadeInUp(data-wow-delay='0.6s')

      .brands__slider.wow.fadeInUp
        - for(var i = 1; i <= 6; i++)
          .brands__item
            - var imgSrc = imgDir + 'brands__img-' + i + '.jpg';
            img.brands__img(src=imgSrc alt='brand')
